# Ignore everything
*

# Except
!__init__.py
!args.py
!aws.py
!compat.py
!constants.py
!errors.py
!general.py
!path.py
!proxies.py
!restruct.py
!typing.py

!LICENSE
!README.md
!.gitignore
!.git/
!.git/*
